.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.split {
  display: grid;
  grid-template-columns: 30% auto;
  height: 100%;
}

.sidebar {
 background-color: indianred;
 padding: 20px;
}

.main {
  padding: 20px;
}

.header {
  border-bottom: 1px solid black;
}

form {
  width: 100%;
  margin: 20px 0px;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.input {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
  border: 1px solid lightgray;
}

.icon {
  padding: 5px 8px;
  margin: 0;
  border: none;
  border-radius: 5px;
}

.green {
  background-color: mediumseagreen;
}

.red {
  background-color: crimson;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 1em;
}

.task-item {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-item button {
  padding: 5px;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0px;
  background-color: white;
  font-size: 1em;
}

.btn:hover {
  background-color: aliceblue;
}

.action-btn {
  border: none;
  font-size: .8em;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightcoral;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}